{% extends 'mail.html.twig' %}

{% block body %}
    <p style="margin: 10px 0;">Уважаемый(ая) {{ full_name }},
        Ваш профиль на электронной торговой площадке
        был изменен и поставлен в очередь на рассмотрение.
        Вы получите уведомление о результатах рассмотрения заявки в течение {{ accreditation_period}} рабочих дней.
    </p>
{% endblock %}