{% extends 'mail.html.twig' %}

{% block body %}
    <p style="margin: 10px 0;">Ваша заявка №{{ procedure_number }} на организацию торгов на электронной торговой площадке {{ site_name}} одобрена.<br/>
        Чтобы опубликовать процедуру вам необходимо подписать извещение о проведении торговой процедуры.
    </p>
{% endblock %}
