{% extends 'mail.html.twig' %}

{% block body %}
    <p style="margin: 10px 0;">Претендентом подана заявка №{{ bid_number }} на участие в торгах №{{ auction_number }}<br>
        Вам необходимо подписать договор о задатке до даты окончания подачи заявок.
    </p>
{% endblock %}
