{% extends 'mail.html.twig' %}

{% block body %}
    <p style="margin: 10px 0;">Ваша процедура №{{ procedure_number }} на электронной торговой площадке {{ site_name }} опубликована.
    </p>
{% endblock %}