{% extends 'mail.html.twig' %}

{% block body %}
    <p style="margin: 10px 0;">Уважаемый, {{ username }}.</p>
    <p style="margin: 10px 0;">Тариф {{ tariff_name }} успешно активирован.
    </p>
{% endblock %}