{% extends 'mail.html.twig' %}

{% block body %}
    <p style="margin: 10px 0;">Списание средств в счет оплаты услуг Оператора электронной площадки
        победителем по торговой процедуре №{{ procedure_number }} в сумме {{ cost }} осуществлено
        <b>
            По всем вопросам обращайтесь в <a href="{{ url('auth.sign.confirm',{'token': token}) }}" target="_blank" rel=" noopener noreferrer">службу поддержки.</a>
        </b>
    </p>
{% endblock %}