{% extends 'mail.html.twig' %}

{% block body %}
    <p style="margin: 10px 0;">Вы подали заявку на участие в процедуре №{{ procedure_number }}.
        Вашей заявке присвоен номер: №{{ bid_number }}
    </p>
{% endblock %}