{% extends 'mail.html.twig' %}

{% block body %}
    <p style="margin: 10px 0;">Организатор опубликовал протокол об определении
        победителя торгов по торговой процедуре №{{ procedure_number }}

    </p>
{% endblock %}