{% extends 'mail.html.twig' %}

{% block body %}
    <p style="margin: 10px 0;">Организатор опубликовал протокол о подведении итогов приема и
        регистрации заявок по торговой процедуре №{{ procedure_number }}
    </p>
{% endblock %}