{% extends 'mail.html.twig' %}

{% block body %}
{#    {% url('auth.reset.reset', {'token': token}) %}#}
    <p style="margin: 10px 0;">Уважаемый, Наиль Галиевич.</p>
    <p style="margin: 10px 0;">Для подтверждения запроса на сброс пароля с IP 94.41.239.90 перейдите по
        <b>
            <a href="" target="_blank" rel=" noopener noreferrer">ссылке</a>
        </b>
    </p>
    <p style="margin: 10px 0;">Запрос будет аннулирован в течение 2 часов.</p>
{% endblock %}