{% extends 'front/base.html.twig' %}

{% block title %}Нормативные документы| Электронная торговая площадка РесТорг{% endblock %}

{% block body %}
    <style>
        #documents, a:active, a:focus {
            color: #504ed2;
        }
        .digital{
            width: 100%;
            float: none;
            clear: both;
            border: dotted 1px #8F949C;
            padding: 1px 1px 1px 20px;
            vertical-align: middle;
            margin: 10px 0 5px 0;
            background-color: #f2f2f5;
        }
    </style>
    <div class="container">
        <div class="row m50">
            <div class="col-xs-12" id="documents">
                <h3>Нормативные документы</h3>
                <p><a target="_blank" href="/files/reglament_restorg_06.04.2021.pdf">Регламент электронной торговой площадки «РесТорг» (редакция 3.0, действует с 06.04.2021)</a></p>
                <p><a target="_blank" href="/files/reglament_restorg_29.10.2020.pdf">Регламент электронной торговой площадки «РесТорг» (редакция 2.0, действует с 29.10.2020)</a></p>
                <p><a target="_blank" href="/files/reglament_restorg_03.12.2019.pdf">Регламент электронной торговой площадки «РесТорг» (редакция 1.1, действует с 03.12.2019)</a></p>
                <p><a target="_blank" href="/files/reglament_restorg_20.11.2019.pdf">Регламент электронной торговой площадки «РесТорг» (редакция 1.0, действует с 20.11.2019)</a></p>
                <p><a target="_blank" href="/files/opros_2021.doc">Опросный лист</a></p>
                <p><a target="_blank" href="{{ path("front.requirement") }}">Требования к ПО</a></p>
                <p><a target="_blank" href="{{ path("front.privacy") }}">Политика конфиденциальности</a></p>
                <p><a target="_blank" href="/files/fz229.doc">Федеральный закон от 2 октября 2007 №229-ФЗ</a><br>
                    «Об исполнительном производстве»</p>
                <p><a href="/files/fz63.doc">Федеральный закон от 6 апреля 2011 г. №63-ФЗ</a><br>
                    «Об электронной подписи»</p>
                <p><a href="/files/ykaz305.doc">Указ Президента от 8 апреля 1997 г. №305</a><br>
                    «О первоочередных мерах по предотвращению коррупции и сокращению бюджетных расходов при организации закупки продукции для государственных нужд»</p>
                <p><a href="/files/postanovlenie331.doc">Постановление Правительства от 30 июня 2004 г. №331</a><br>
                    «Об утверждении положения о Федеральной антимонопольной службе»</p>
                <p><a target="_blank" href="http://229etp.ru/consent">Постановление Правительства от 30 июня 2004 г. №331</a><br>
                    «Об утверждении положения о Федеральной антимонопольной службе»</p>

                <p><a target="_blank" href="/files/postanovlenie437.doc">Постановление Правительства от 5 июня 2008 г. №437</a><br>
                    «О Министерстве экономического развития Российской Федерации»
                </p>
                <p><a target="_blank" href="/files/postanovlenie179.doc">Постановление Правительства от 17 марта 2008 г. №179</a><br>
                    «Об утверждении положения о пользовании сайтами в сети интернет, на которых осуществляется проведение открытых аукционов в электронной форме, и требованиях к технологическим, программным, лингвистическим, правовым и организационным средствам обеспечения пользования указанными сайтами, а также к системам, обеспечивающим проведение открытых аукционов в электронной форме»
                </p>
                <p><a target="_blank" href="/files/prikaz428.doc">Приказ Минэкономразвития от 26 октября 2009 г. №428</a><br>
                    «Об утверждении порядка отбора электронных площадок в целях проведения открытых аукционов в электронной форме»</p>
                <p>
                    <a target="_blank" href="http://fas.gov.ru/legislative-acts/legislative-acts_50869.html">Приказ ФАС России от 10 февраля 2010 г. №67</a>
                    <br>«О порядке проведения конкурсов или аукционов на право заключения договоров аренды, договоров безвозмездного пользования, договоров доверительного управления имуществом, иных договоров, предусматривающих переход прав в отношении государственного или муниципального имущества, и перечне видов имущества, в отношении которого заключение указанных договоров может осуществляться путем проведения торгов в форме конкурса»
                </p>

                <p><a target="_blank" href="http://www.rg.ru/2011/12/09/fas-dok.html">Приказ Федеральной антимонопольной службы от 20 октября 2011 г. №732</a>
                    <br>«О внесении изменений в приказ ФАС России от 10 февраля 2010 г. №67»</p>
            </div>
        </div>
    </div>
{% endblock %}