{% extends 'front/base.html.twig' %}

{% block title %}Получение и настройка ЭП | Электронная торговая площадка РесТорг{% endblock %}

{% block body %}
    <div class="container">

        <div class="row m50">
            <div class="col-xs-12">
                <p><strong>Электронная подпись</strong></p>

                <p>Для регистрации на ЭТП «РесТОРГ» и участия в электронных торгах необходимо иметь электронную подпись (ЭП).</p>

                <p>ЭП — это аналог собственноручной подписи, придающий юридическую значимость электронным документам. Электронные подписи создают и выдают на возмездной основе удостоверяющие центры (УЦ).</p>

                <ul>
                    <li>Сертификат ЭП должен быть квалифицированным;</li>
                    <li>Сертификат ЭП должен быть выдан УЦ, прошедшим процедуру аккредитации в соответствии с действующим законодательством РФ;</li>
                    <li>Электронная подпись изготовлена для работы с криптопровайдером КриптоПРО.</li>
                </ul>

                <p><strong>Настройка Электронной Подписи</strong></p>

                <p><strong>Шаг 1</strong>. Убедитесь, что Ваше программное обеспечение подходит для работы на «РесТОРГ». Наши требования:</p>

                <ul>
                    <li>Операционная система семейства Windows (7, 8, 8.1,10);</li>
                    <li>Браузеры: Mozilla Firefox, Opera, Google Chrome, Яндекс.Браузер, Internet Explorer (стабильная работа не гарантирована);</li>
                    <li>Установленное программное обеспечение&nbsp;КриптоПро CSP&nbsp;версии 3.6 R4 и выше для Microsoft Windows, для других операционных систем –&nbsp;КриптоПро CSP&nbsp;версии 4.0 и выше;</li>
                    <li>Отсутствие ограничений на объём скачивания и отправки файлов;</li>
                    <li>Персональный электронный почтовый ящик и почтовый клиент с возможностью просмотра писем в формате HTML;</li>
                    <li>Отсутствие запрета на скачивание и отправку файлов с расширениями doc, docx, xls, xlsx, pdf, ppt, txt, zip, jpg, tiff, zip, rar, 7z;</li>
                    <li>Все шаги по установке и настройке ЭП выполнены в соответствии с рекомендациями УЦ.</li>
                </ul>

                <p><strong>Шаг 2</strong>. Установите актуальную версию&nbsp;КриптоПро ЭЦП Browser plug-in.</p>

                <p><strong>Обратите внимание:</strong>&nbsp;для работы в браузере Mozilla Firefox версии 52 и выше требуется дополнительно установить&nbsp;расширение для браузера.</p>

                <p>После установки плагина рекомендуем перезапустить браузер. На странице&nbsp;проверки ЭП&nbsp;появится кнопка «Проверить ЭП».</p>

                <p><strong>Шаг 3</strong>. Проверка электронной подписи:</p>

                <p>На странице&nbsp;<a href="verify-sign" target="_blank">проверки электронной подписи</a>&nbsp;нажмите кнопку «Проверить ЭП». Далее должен появиться список сертификатов, которые доступны для проверки. Выберите Ваш сертификат. Если Вы увидели сообщение «Проверка ЭП пройдена успешно. Владелец ЭП: ФИО», значит, компьютер и подпись настроены верно.</p>

                <p>Если Вы видите другое сообщение, попробуйте пройти все шаги настройки ещё раз.</p>
            </div>
        </div>
    </div>
{% endblock %}