{% extends 'front/base.html.twig' %}

{% block title %}Требования | Электронная торговая площадка РесТорг{% endblock %}

{% block body %}

<div class="container">
    <div class="row m50">
        <div class="col-xs-12">

            <h5>Требования</h5>

            <p>Для работы на электронной торговой площадке «РесТорг» оборудование и программное обеспечение пользователя должны удовлетворять следующим требованиям:</p>

            <h5>Аппаратные требования</h5>

            <ul>
                <li>Оперативная память не менее 1024 Мбайт;</li>
                <li>Разрешение экрана не ниже 1280х800;</li>
                <li>Соединение с интернетом на скорости не ниже 128 Кбит/сек.</li>
            </ul>

            <h5>Программные требования</h5>

            <ul>
                <li>Операционная система семейства Windows (7, 8, 8.1, 10);</li>
                <li>Браузеры: Mozilla Firefox, Opera, Google Chrome, Яндекс.Браузер, Internet Explorer (стабильная работа не гарантирована);</li>
                <li>Microsoft Office 2007 и выше либо иное программное обеспечение для чтения, создания и редактирования файлов формата Microsoft Office;</li>
                <li>Программное обеспечение для чтения файлов *.pdf, например Adobe Reader;</li>
                <li>Программное обеспечение для работы с архивами *.zip и *.rar ;</li>
                <li>Программное обеспечение КриптоПро CSP не ниже версии 4.0 R4.</li>
            </ul>

            <h5>Прочие требования</h5>

            <ul>
                <li>Отсутствие ограничений на объём скачивания и отправки файлов;</li>
                <li>Персональный электронный почтовый ящик и почтовый клиент с возможностью просмотра писем в формате HTML.</li>
                <li>Отсутствие запрета на скачивание и отправку файлов с расширениями doc, docx, xls, xlsx, pdf, ppt, txt, jpg, tiff, zip, rar.</li>
            </ul>

            <p>Внимание!<br>
                ЭТП РесТорг не поддерживает работу в операционных системах отличных от Microsoft Windows 7 - 10; мобильных операционных системах Google Android, Apple iOS; в браузерах семейства Apple Safari; c криптопровайдерами отличными от КриптоПро CSP.</p>
        </div>
    </div>
</div>
{% endblock %}